<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>



<div class="my-account">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="account-nav" data-toggle="pill" href="#account-tab" role="tab">Account Details</a>
                    <a class="nav-link" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab" role="tab">Subscribed List</a>
                    <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab">Comments</a>
                    <% if (user.Role === "Restaurant") { %>
                        <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab">Your Restaurant</a>
                    <% } %>
                    <a class="nav-link" href="/logout">Logout</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                        <h4>Account Details</h4>
                        <form method="POST" action="/user/update" class="row">
                            <input type="hidden" name="id" value="<%= user.id %>">
                            <div class="col-md-12 mb-1 ms-1">
                                <span class="fw-bold">Role: <%= user.Role %></span>
                            </div>
                            <div class="col-md-12 mb-2 ms-1">
                                <span class="fw-bold">Email: <%= user.Email %></span>
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Username" name="Username" value="<%= user.Username %>">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Fullname" name="Fullname" value="<%= user.Fullname %>">
                            </div>
                            <div class="col-md-6">
                                <input type="tel" placeholder="Mobile" name="Mobile" value="<%= user.Mobile %>">
                            </div>
                            <div class="col-md-12">
                                <button>Update Account</button>
                                <br><br>
                            </div>
                        </form>
                        <h4>Password change</h4>
                        <form method="POST" action="/user/update" class="row">
                            <input type="hidden" name="id" value="<%= user.id %>">
                            <input type="hidden" name="change" value="Password">
                            <div class="col-md-12">
                                <input type="password" name="CurrentPassword" placeholder="Current Password">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="NewPassword" placeholder="New Password">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="ConfirmPassword" placeholder="Confirm Password">
                            </div>
                            <% for (let error in errors) { %>
                                <span class="w-50 text-danger mb-2" style="font-size: 13px;"><%= errors[error] %></span>
                            <% } %>
                            <div class="col-md-12">
                                <button>Save Changes</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
                        <h4>Subscribed List</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non. Praesent in faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu rhoncus scelerisque.
                        </p> 
                    </div>
                    <div class="tab-pane fade" id="payment-tab" role="tabpanel" aria-labelledby="payment-nav">
                        <h4>Comments</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non. Praesent in faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu rhoncus scelerisque.
                        </p> 
                    </div>

                    <% if (user.Role === "Restaurant") { %>
                        <div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createRestaurant">
                                Create your restaurant
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="createRestaurant" tabindex="-1" aria-labelledby="createRestaurantForm" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="createRestaurantForm">Modal title</h5>
                                            <button type="button" class="btn-close bg-transparent text-dark" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-x"></i></button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4>Address</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Payment Address</h5>
                                    <p>123 Payment Street, Los Angeles, CA</p>
                                    <p>Mobile: 012-345-6789</p>
                                    <button>Edit Address</button>
                                </div>
                                <div class="col-md-6">
                                    <h5>Shipping Address</h5>
                                    <p>123 Shipping Street, Los Angeles, CA</p>
                                    <p>Mobile: 012-345-6789</p>
                                    <button>Edit Address</button>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>