<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<div class="my-account">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="account-nav" data-toggle="pill" href="#account-tab" role="tab">Account Details</a>
                    <a class="nav-link" id="subscribed-nav" data-toggle="pill" href="#subscribed-tab" role="tab">Subscribed List</a>
                    <% if (user.Role === "Restaurant") { %>
                        <a class="nav-link" id="subscribers-nav" data-toggle="pill" href="#subscribers-tab" role="tab">Restaurant's Subscribers</a>
                    <% } %>
                    <a class="nav-link" id="comments-nav" data-toggle="pill" href="#comments-tab" role="tab">Comments</a>
                    <% if (user.Role === "Restaurant") { %>
                        <a class="nav-link" id="restaurant-nav" data-toggle="pill" href="#restaurant-tab" role="tab">Your Restaurant</a>
                    <% } %>
                    <a class="nav-link" href="/logout">Logout</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                        <h4>Account Details</h4>
                        <form method="POST" action="/user/update" class="row">
                            <input type="hidden" name="id" value="<%= user.id %>">
                            <div class="col-md-12 mb-1 ms-1">
                                <span class="fw-bold">Role: <%= user.Role %></span>
                            </div>
                            <div class="col-md-12 mb-2 ms-1">
                                <span class="fw-bold">Email: <%= user.Email %></span>
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Username" name="Username" value="<%= user.Username %>">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Fullname" name="Fullname" value="<%= user.Fullname %>">
                            </div>
                            <div class="col-md-6">
                                <input type="tel" placeholder="Mobile" name="Mobile" value="<%= user.Mobile %>">
                            </div>
                            <div class="col-md-12">
                                <button>Update Account</button>
                                <br><br>
                            </div>
                        </form>
                        <h4>Password change</h4>
                        <form method="POST" action="/user/update" class="row">
                            <input type="hidden" name="id" value="<%= user.id %>">
                            <input type="hidden" name="change" value="Password">
                            <div class="col-md-12">
                                <input type="password" name="CurrentPassword" placeholder="Current Password">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="NewPassword" placeholder="New Password">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="ConfirmPassword" placeholder="Confirm Password">
                            </div>
                            <% for (let error in errors) { %>
                                <span class="w-50 text-danger mb-2" style="font-size: 13px;"><%= errors[error] %></span>
                            <% } %>
                            <div class="col-md-12">
                                <button>Save Changes</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="subscribed-tab" role="tabpanel" aria-labelledby="subscribed-nav">
                        <h4>Subscribed List</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>Restaurant's Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let [index, subscribed_restaurant] of subscribed_restaurants.entries()) { %>
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td><a href="/restaurant/<%= subscribed_restaurant.Restaurant_id %>"><%= subscribed_restaurant.Name %></a></td>
                                            <td>
                                                <form method="POST" action="/subscribed/delete">
                                                    <input type="hidden" name="User_id" value="<%= user.id %>">
                                                    <input type="hidden" name="Restaurant_id" value="<%= subscribed_restaurant.Restaurant_id %>">
                                                    <button>Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <% if (user.Role === "Restaurant") { %>
                        <div class="tab-pane fade" id="subscribers-tab" role="tabpanel" aria-labelledby="subscribers-nav">
                            <h4>Restaurant's Subscribers</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>No</th>
                                            <th>Subscriber's Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (Object.keys(subscribers).length !== 0) { %>
                                            <% for (let [index, subscriber] of subscribers.entries()) { %>
                                                <tr>
                                                    <td><%= index + 1 %></td>
                                                    <td><%= subscriber.Username %></td>
                                                    <td>
                                                        <form method="POST" action="/subscribed/delete">
                                                            <input type="hidden" name="User_id" value="<%= subscriber.User_id %>">
                                                            <input type="hidden" name="Restaurant_id" value="<%= subscriber.Restaurant_id %>">
                                                            <button>Delete</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    <% } %>
                    <div class="tab-pane fade" id="comments-tab" role="tabpanel" aria-labelledby="comments-nav">
                        <h4>Comments</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>Restaurant's Name</th>
                                        <th>Rating</th>
                                        <th>Content</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let [index, comment] of comments.entries()) { %>
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td><a href="/restaurant/<%= comment.Restaurant_id %>"><%= comment.Name %></a></td>
                                            <td>
                                                <% for (let i = 0; i < comment.Rating; i++) { %>
                                                    <i class="fa fa-star"></i>
                                                <% } %>
                                            </td>
                                            <td><%= comment.Review %></td>
                                            <td>
                                                <form method="POST" action="/comment/delete">
                                                    <input type="hidden" name="id" value="<%= comment.comment_id %>">
                                                    <input type="hidden" name="User_id" value="<%= comment.User_id %>">
                                                    <button>Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <% if (user.Role === "Restaurant") { %>
                        <div class="tab-pane fade" id="restaurant-tab" role="tabpanel" aria-labelledby="restaurant-nav">
                            <% if (!restaurant) { %>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createRestaurant">
                                    Create your restaurant
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="createRestaurant" tabindex="-1" aria-labelledby="createRestaurantForm" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div style="background: rgb(239, 243, 250);" class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="createRestaurantForm">Enter Restaurant's Information</h5>
                                                <button class="btn-close bg-transparent text-dark" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-x"></i></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/restaurant/create" method="POST" class="row" enctype="multipart/form-data">
                                                    <input type="hidden" name="Owner_id" value="<%= user.id %>">
                                                    <div class="col-md-7">
                                                        <label for="Name">Restaurant's Name</label>
                                                        <input type="text" id="Name" name="Name" placeholder="Name..." required>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="Category">Category</label>
                                                        <select class="form-select form-control" name="Category_id" id="Category" aria-label=".form-select-lg example">
                                                            <% for (let [index, category] of categories.entries()) { %>
                                                                <% if (index == 0) { %>
                                                                    <option selected value="<%= category.id %>"><%= category.Name %></option>
                                                                <% } else { %>
                                                                    <option value="<%= category.id %>"><%= category.Name %></option>
                                                                <% } %>
                                                            <% } %>
                                                        </select>
                                                    </div>
                                                    <div class="input-group col-md-12">
                                                        <label for="Thumbnail">Restaurant's Thumbnail</label>
                                                        <input class="form-control" type="file" id="Thumbnail" name="Thumbnail" required>
                                                    </div>
                                                    <div class="input-group col-md-12">
                                                        <label for="Menu">Restaurant's Menu</label>
                                                        <input class="form-control" type="file" id="Menu" name="Menu" required>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label for="Address">Restaurant's Address</label>
                                                        <input type="text" id="Address" name="Address" placeholder="Address..." required>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label for="Mobile">Restaurant's Mobile number</label>
                                                        <input type="text" id="Tel" name="Tel" placeholder="Tel..." required>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label for="Description">Restaurant's Description</label>
                                                        <textarea class="w-100" id="Description" name="Description" placeholder="Description..."></textarea>
                                                    </div>
                                                    <div class="modal-footer mt-4">
                                                        <button type="reset" class="btn btn-secondary">Reset</button>
                                                        <button class="btn btn-primary">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } else { %>
                                <h4>My Restaurant</h4>
                                <div class="row">
                                    <form method="POST" action="/restaurant/update" enctype="multipart/form-data" class="col-md-12">
                                        <input type="hidden" name="Owner_id" value="<%= restaurant.Owner_id %>">
                                        <input type="hidden" name="id" value="<%= restaurant.id %>">
                                        <h5>Detail</h5>
                                        <p>Name: <input type="text" placeholder="Name" name="Name" value="<%= restaurant.Name %>"></p>
                                        <p>Address: <input type="text" placeholder="Address" name="Address" value="<%= restaurant.Address %>"></p>
                                        <p>Tel: <input type="tel" placeholder="Tel" name="Tel" value="<%= restaurant.Tel %>"></p>
                                        <p>Category:
                                            <select name="Category_id" class="form-select form-select-md" aria-label=".form-select-lg example">
                                                <% for (let category of categories) { %>
                                                    <option <%= restaurant.Category_id && category.Name === restaurant.category_name ? 'selected' : '' %> value="<%= category.id %>"><%= category.Name %></option>
                                                <% } %>
                                            </select>
                                        </p>
                                        <p>
                                            <label for="Thumbnail">Restaurant's Thumbnail</label>
                                            <input class="form-control" type="file" id="Thumbnail" name="Thumbnail">
                                        </p>
                                        <p>
                                            <label for="Menu">Restaurant's Menu</label>
                                            <input class="form-control" type="file" id="Menu" name="Menu">
                                        </p>
                                        <p>Description:
                                            <textarea class="col-md-12" id="Description" name="Description" placeholder="Description..."><%= restaurant.Description %></textarea>
                                        </p>
                                        <button type="reset">Reset</button>
                                        <button>Save</button>
                                    </form>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>