<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<div class="my-account">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab" role="tab">Dashboard</a>
                    <a class="nav-link" id="users-nav" data-toggle="pill" href="#users-tab" role="tab">Users</a>
                    <a class="nav-link" id="restaurants-nav" data-toggle="pill" href="#restaurants-tab" role="tab">Restaurants</a>
                    <a class="nav-link" id="categories-nav" data-toggle="pill" href="#categories-tab" role="tab">Categories</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
                        <h4>Dashboard</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non. Praesent in faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu rhoncus scelerisque.
                        </p> 
                    </div>
                    <div class="tab-pane fade" id="users-tab" role="tabpanel" aria-labelledby="users-nav">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>Fullname</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let [index, client] of users.entries()) { %>
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td><%= client.Fullname %></td>
                                            <td><%= client.Username %></td>
                                            <td><%= client.Email %></td>
                                            <td>
                                                <% if (client.Email !== user.Email) { %>
                                                    <form class="change-category" action="/user/update" method="POST">
                                                        <input type="hidden" name="id" value="<%= client.id %>">
                                                        <select name="Role" class="form-select form-select-md" aria-label=".form-select-lg example">
                                                            <option <%= client.Role === "Admin" ? 'selected' : '' %> value="Admin">Admin</option>
                                                            <option <%= client.Role === "Restaurant" ? 'selected' : '' %> value="Restaurant">Restaurant</option>
                                                            <option <%= client.Role === "User" ? 'selected' : '' %> value="User">User</option>
                                                        </select>
                                                    </form>
                                                <% } else { %>
                                                    <%= user.Role %>
                                                <% } %>
                                            </td>
                                            <% if (client.Email !== user.Email) { %>
                                                <td>
                                                    <form method="POST" action="/user/delete">
                                                        <input type="hidden" name="id" value="<%= client.id %>">
                                                        <button>Delete</button>
                                                    </form>
                                                </td>
                                            <% } else { %>
                                                <td><a class="btn btn-secondary" href="/user/information">View</a></td>
                                            <% } %>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                            <button class="mt-3" onclick="submitForms()">Save</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="restaurants-tab" role="tabpanel" aria-labelledby="restaurants-nav">
                        <% if (restaurants.length === 0) { %>
                            <span>There is no restaurant that has been created.</span>
                        <% } else { %>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>No</th>
                                            <th>Name</th>
                                            <th>Owner's name</th>
                                            <th>Address</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let [index, restaurant] of restaurants.entries()) { %>
                                            <tr>
                                                <td><%= index + 1 %></td>
                                                <td><%= restaurant.Name %></td>
                                                <td><%= restaurant.Fullname %></td>
                                                <td><%= restaurant.Address %></td>
                                                <td>
                                                    <form method="POST" action="/restaurant/delete">
                                                        <input type="hidden" name="id" value="<%= restaurant.id %>">
                                                        <button>Delete</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        <% } %>
                    </div>
                    <div class="tab-pane fade" id="categories-tab" role="tabpanel" aria-labelledby="categories-nav">
                        <% if (categories.length === 0) { %>
                            <span>There is no category that has been created.</span>
                        <% } else { %>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>No</th>
                                            <th>Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let [index, category] of categories.entries()) { %>
                                            <tr>
                                                <td><%= index + 1 %></td>
                                                <td><%= category.Name %></td>
                                                <td>
                                                    <form method="POST" action="/category/delete">
                                                        <input type="hidden" name="id" value="<%= category.id %>">
                                                        <button>Delete</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        <% } %>
                        <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#createCategory">
                            Create new category
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="createCategory" tabindex="-1" aria-labelledby="createCategoryForm" aria-hidden="true">
                            <div class="modal-dialog">
                                <div style="background: rgb(239, 243, 250);" class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="createCategoryForm">Enter Category's Information</h5>
                                        <button class="btn-close bg-transparent text-dark" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-x"></i></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/category/create" method="POST" class="row">
                                            <div class="col-md-12">
                                                <label for="Name">Category's Name</label>
                                                <input type="text" id="Name" name="Name" placeholder="Name..." required>
                                            </div>
                                            <div class="modal-footer mt-4">
                                                <button type="reset" class="btn btn-secondary">Reset</button>
                                                <button class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>