<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
        
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/restaurants">Restaurants</a></li>
            <li class="breadcrumb-item active">Restaurant's Detail</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Product Detail Start -->
<div class="product-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row align-items-center product-detail-top">
                    <div class="col-md-5">
                        <div class="product-slider-single">
                            <img src="/img/thumbnails/<%= restaurant.Thumbnail %>" alt="Restauant Thumbnail">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="product-content">
                            <div class="title"><h2><%= restaurant.Name %></h2></div>
                            <div class="ratting">
                                <% for (let i = 0; i < rating; i++) { %>
                                    <i class="fa fa-star"></i>
                                <% } %>
                            </div>
                            <div class="details mt-3">
                                <span>Owner's Name: <%= restaurant.Fullname %></span><br>
                                <span>Restaurant's Tel: <%= restaurant.Tel %></span><br>
                                <span>Restaurant's Address: <%= restaurant.Address %></span><br>
                                <span>Restaurant's Category: <%= restaurant.category_name %></span>
                            </div>
                            <div class="action">
                                <% if (user) { %>
                                    <form action="/subscribed" method="POST">
                                        <input type="hidden" name="User_id" value="<%= user.id %>">
                                        <input type="hidden" name="Restaurant_id" value="<%= restaurant.id %>">
                                        <button><i class="fa fa-heart"></i></button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row product-detail-bottom">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#description">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#menu">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#reviews">Reviews (<%= comments.length %>)</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="description" class="container tab-pane active"><br>
                                <h4>Restaurant Description</h4>
                                <% if (restaurant.Description) { %>
                                    <p>
                                        <%= restaurant.Description %>
                                    </p>
                                <% } else { %>
                                    <span>No description.</span>
                                <% } %>
                            </div>
                            <div id="menu" class="container tab-pane fade"><br>
                                <h4>Menu</h4>
                                <img src="/img/menus/<%= restaurant.Menu %>" alt="Restaurant Menu">
                            </div>
                            <div id="reviews" class="container tab-pane fade"><br>
                                <div class="reviews-submitted d-flex flex-column gap-2">
                                    <% if (comments.length !== 0) { %>
                                        <% for (let comment of comments) { %>
                                            <div class="border border-3 rounded-3 p-3">
                                                <div class="reviewer"><%= comment.Username %></div>
                                                <div class="ratting">
                                                    <% for (let i = 0; i < comment.Rating; i++) { %>
                                                        <i class="fa fa-star"></i>
                                                    <% } %>
                                                </div>
                                                <span>
                                                    <%= comment.Review %>
                                                </span>
                                            </div>
                                        <% } %>
                                    <% } else { %>
                                        <div>There is no comment to this restaurant.</div>
                                    <% } %>
                                </div>
                                <% if (login) { %>
                                    <form class="row form" method="POST" action="/comment/create" class="reviews-submit">
                                        <h4>Give your Review:</h4>
                                        <input type="hidden" name="User_id" value="<%= user.id %>">
                                        <input type="hidden" name="Restaurant_id" value="<%= restaurant.id %>">
                                        <div class="col-sm-4 mb-2">
                                            <select name="Rating" class="form-select form-select-md" aria-label=".form-select-lg example" required>
                                                <% for (let i = 1; i <= 5; i++) { %>
                                                    <option value="<%= i %>"><%= i %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="col-sm-12">
                                            <textarea name="Review" placeholder="Review..."></textarea>
                                        </div>
                                        <div class="col-sm-12">
                                            <button>Submit</button>
                                        </div>
                                    </form>
                                <% } else { %>
                                    <span>Please <a href="/login">log in</a> before comment</span>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <%- include('../partials/sidebar.ejs') %>
        </div>
    </div>
</div>
<!-- Product Detail End -->
        
<%- include('../partials/footer.ejs') %>